.cart{
    width: 15rem;
    height: 17rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 0;
}
.cartProducts{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.productCount{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 132, 70);
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}
.total{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 61, 62);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}